<h2>Robot Standings</h2>

<ul class="nav nav-pills">
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==250" (click)="changeViewMode(250)">Heavyweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==30" (click)="changeViewMode(30)">Sportsman</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==15" (click)="changeViewMode(15)">Dogeweight</a>
  </li>
</ul>

<div>
	<table>
		<tr>
      <th>Bot</th>
      <th>Fights</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>KOs</th>
    </tr>
		<tr *ngFor="let robot of (robots | async)">
      <td>{{ robot.name }} </td>
      <td>{{ robot.fightCount }} </td>
      <td>{{ robot.winCount }} </td>
      <td>{{ robot.lossCount }} </td>
      <td>{{ robot.koCount }} </td>
    </tr>
	</table>
</div>