<nav class="navbar navbar-light navbar-expand-md event-manager-nav">
  <div class="container">
    <a class="navbar-brand">Robot Ruckus 2019</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/schedule']">Schedule</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/standings']">Standings</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/results']">Results</a></li>
      
        <ng-container *ngIf="auth.user | async as user">
          <li *ngIf="auth.isModerator(user)" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" role="presentation" [routerLink]="['/overview']">Overview</a>
              <a class="dropdown-item" role="presentation" [routerLink]="['/check-in']">Check-In</a>
              <a class="dropdown-item" role="presentation" [routerLink]="['/safety']">Safety</a>
            </div>
          </li>
        </ng-container>
      </ul>
      <span *ngIf="auth.user | async; else login" class="navbar-text actions"> 
        <a class="btn btn-light action-button" (click)="auth.signOut()" role="button">Sign Out</a>
      </span>
      <ng-template #login>
        <span class="navbar-text actions"> 
          <a class="btn btn-light action-button" (click)="auth.googleLogin()" role="button">Sign In</a>
        </span>
      </ng-template>
    </div>
  </div>
</nav>