<form [formGroup]="importRobotsForm">
  <div>
    <label for="">Event ID</label>
    <input
      formControlName="eventID"
      id="eventID"
      type="text"
      class="form-control">
      <div *ngIf="eventID.touched && eventID.invalid" class="alert alert-danger">
        <div *ngIf="eventID.errors.required">Event ID is required.</div>
        <div *ngIf="eventID.errors.pattern">Event ID must be a number.</div>
        <div *ngIf="eventID.errors.shouldExist">Event ID not found.</div>
      </div>
  </div>
  <!-- <div>
    <label for=""></label>
    <input 
      multiple
      formControlName="classID"
      id="classID"
      type="select"
      class="form-control">
  </div> -->
  <button type="submit" class="btn btn-success">Submit</button>
</form>