<h1>Overview</h1>

<ul class="nav nav-pills">
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==130" (click)="changeViewMode(130)">Fairyweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==1" (click)="changeViewMode(1)">Antweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==3" (click)="changeViewMode(3)">Beetleweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==15" (click)="changeViewMode(15)">15lb Dogeweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==30" (click)="changeViewMode(30)">30lb Sportsman</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==250" (click)="changeViewMode(250)">Heavyweight</a>
  </li>
</ul>

<div>
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Bot</th>
        <th>Arrived</th>
        <th>Passed Safety</th>
        <th>State</th>
        <th>Number of Fights</th>
        <th>Last Fought</th>
        <!-- <th>Controls</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let robot of (robots | async); trackBy: trackById;">
        <td>
          <a *ngIf="auth.isAdmin(auth.user | async); else botName"
            class="underlined" 
            [title]="robot.name + ' Details'"
            (click)="openRobotDetails(robotDetails, robot.id)">
              {{ robot.name }} 
          </a>
          <ng-template #botName> {{ robot.name }} </ng-template>
        </td>
        <td *ngIf="robot.inAttendance; else notPresent">&#x2714;</td>
        <ng-template #notPresent>
          <td>&#x274C;</td>
        </ng-template>
        <td *ngIf="robot.passedSafety; else notSafetied">&#x2714;</td>
        <ng-template #notSafetied>
          <td>&#x274C;</td>
        </ng-template>
        <td 
          [class.ready]="robot.state=='Ready'"
          [class.repairing]="robot.state=='Repairing'"
          [class.scheduled]="robot.state=='Scheduled'">
            {{ robot.state }} 
        </td>
        <td>{{ robot.fightCount }} </td>
        <td *ngIf="robot.lastFought!== undefined; else noTimestamp">{{ robot.lastFought.toDate() | timeAgo}} </td>
        <ng-template #noTimestamp><td></td></ng-template>
        <!-- <td>
          <button
            (click)="robotService.updateArena(robot.id, 'Big')"
            type="button" 
            id="updateArenaBtn"
            class="btn btn-outline-info">
              Mark Big
          </button>
          <button
            (click)="robotService.updateArena(robot.id, 'Small')"
            type="button" 
            id="updateArenaBtn"
            class="btn btn-outline-info">
              Mark Small
          </button>
        </td> -->
      </tr>
    </tbody>
	</table>
  <button 
    (click)="addRobot(addRobotModal)"
    type="button" 
    id="addRobotBtn"
    class="btn btn-outline-primary">
      +
  </button>
</div>
<br>

<!-- <app-robot-modal></app-robot-modal> -->

<ng-template #robotDetails let-modal>
  <div class="modal-header">
    <h4 *ngIf="bot !== undefined" class="modal-title" id="modal-basic-title">{{bot.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="bot !== undefined">
    <p><b>Weight Class: </b> {{ bot.weightClass }} </p>

    <p *ngIf="bot.inAttendance; else notInAttendance">
      <b>Attendance:</b> &#x2714;
    </p>
    <ng-template #notInAttendance>
      <p><b>Attendance:</b> &#x274C;</p>
    </ng-template>

    <p *ngIf="bot.passedSafety; else noSafety">
      <b>Safety:</b> &#x2714;
    </p>
    <ng-template #noSafety>
      <p><b>Safety:</b> &#x274C;</p>
    </ng-template>

    <p *ngIf="bot.state">
      <b>State:</b> <span 
      [class.ready]="bot.state=='Ready'"
      [class.repairing]="bot.state=='Repairing'"
      [class.scheduled]="bot.state=='Scheduled'">
      {{ bot.state }}
      </span>
    </p>

    <!-- <ng-template #noImage>
      <p>No image to display.</p>
    </ng-template> -->

    <!-- <p><b>Fight History:</b></p>
    <div *ngIf="bot.fights; else noFightsYet">
      <table>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr> *ngFor=""
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <ng-template #noFightsYet>
      <p>This robot has not had any fights yet.</p>
      <p><i>This section still under construction.</i></p>
    </ng-template> -->

    <!-- <div *ngIf="">
      <p></p>
      <table>
        <tr>
          <th></th>
        </tr>
        <tr *ngFor="">
        </tr>
      </table>
    </div> -->

    <p><b> Change State: </b></p>
    <select
        [(ngModel)]="bot.state"
        name="stateSelection"
        id=""
        type="select"
        class="form-control"
        class="custom-select mr-sm-2"
        (change)="robotService.changeState(bot.id, bot.state)">
      <option *ngFor="let state of states " value="{{state}}">{{state}}</option>
    </select>

    <p><b> Admin Controls: </b></p>
    <button (click)="robotService.initializeBot(bot.id, viewMode)" class="btn btn-success">Initialize Bot</button>
    <button (click)="robotService.deleteRobot(bot.id); modal.dismiss()" class="btn btn-danger">Delete Bot</button>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss()">Exit</button>
  </div>
</ng-template>


<ng-template #addRobotModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Robot</h4>
    <button type="button" class="close" (click)="clearAddRobotForm(); modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="addRobotForm.errors" class="alert alert-danger">
      <!-- <p *ngIf="addRobotForm.get('winner').invalid || addRobotForm.get('loser').invalid">You must specify the winner & loser robots.</p> -->
      <!-- <p *ngIf="addRobotForm.get('ko').invalid">You must select a win condition (KO or JD).</p> -->
    </div>
    <form [formGroup]="addRobotForm">
      <div class="form-group">
        <label>Name:</label>
        <
        <label>Weight Class:</label>
        <select 
            class="form-control"
            [(ngModel)]="loserBot" 
            name="loser"
            formControlName="loser"
            (change)="updateSelection('loser')">
          <option value="{{currentMatch.redSquare}}">{{currentMatch.redSquare}}</option>
          <option value="{{currentMatch.blueSquare}}">{{currentMatch.blueSquare}}</option>
        </select>
        <p>Text:</p>
        <div class="form-check">
          <input
              class="form-check-input" 
              type="radio" 
              id="ko"  
              [(ngModel)]="ko" 
              formControlName="ko"
              name="ko"
              value="ko">
          <label class="form-check-label" for="formCheck-1">KO</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light" type="button" (click)="clearRecordResultForm(); modal.dismiss()">Close</button>
    <button class="btn btn-primary" type="button" (click)="recordResult()">Add Result</button>
  </div>
</ng-template>