<app-schedule-fight></app-schedule-fight>

<h2>Upcoming Matches</h2>

<div>
  <table class="table"> 
    <thead>
      <tr>
        <th>Fight No.</th>
        <th>Red Square</th>
        <th>Blue Square</th>
        <!-- <th>Timestamp</th> -->
        <th *ngIf="auth.canEdit(user)">Controls</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of (schedule | async); let i = index">
        <td>{{i+1}}</td>
        <td>{{match.redSquare}}</td>
        <td>{{match.blueSquare}}</td>
        <!-- <td>{{match.timestamp.toDate() | date:'medium'}}</td> -->
        <td *ngIf="auth.canEdit(user)">
          <button 
            (click)="scheduleService.deleteMatch(match.redSquare, match.blueSquare, match.id)"  
            type="button" 
            class="btn btn-outline-danger">
              Delete Match
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>