<h1>Schedule</h1>

<ul class="nav nav-pills">
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==250" (click)="changeViewMode(250)">Heavyweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==30" (click)="changeViewMode(30)">Sportsman</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==15" (click)="changeViewMode(15)">Dogeweight</a>
  </li>
</ul>

<br>

<div *ngIf="auth.isAdmin(auth.user | async)">
  <h2>Schedule a Fight</h2>
  <div *ngIf="scheduleForm.errors" class="alert alert-danger">
    <p>You must select two unique bots.</p>
  </div>
  <form [formGroup]="scheduleForm" (ngSubmit)="scheduleFight()">
    <div class="form-row align-items-center">
      <div class="form-group">
        <label for="red">Red Square:</label>
        <select
          required
          [(ngModel)]="redBot"
          name="red"
          formControlName="red"
          id=""
          type="select"
          class="form-control"
          class="custom-select mr-sm-2">
          <option *ngFor="let robot of (robots | async)" value="{{robot.name}}">{{robot.name}}</option>
        </select>
      </div>
      <div class="vs">vs.</div>
      <div class="form-group">
        <label for="blue">Blue Square:</label>
        <select
          required
          [(ngModel)]="blueBot" 
          name="blue"
          formControlName="blue"
          id=""
          type="select"
          class="form-control"
          class="custom-select mr-sm-2">
          <option *ngFor="let robot of (robots | async)" value="{{robot.name}}">{{robot.name}}</option>
        </select>
      </div>
    </div>
    <button class="btn btn-primary">Schedule</button>
  </form>
</div>

<br>

<h2>Upcoming Matches</h2>

<div>
  <table class="table"> 
    <thead>
      <tr>
        <th>Fight No.</th>
        <th>Red Square</th>
        <th>Blue Square</th>
        <!-- <th>Timestamp</th> -->
        <th *ngIf="auth.isAdmin(auth.user | async)">Controls</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of (schedule | async); let i = index">
        <td>{{i+1}}</td>
        <td>{{match.redSquare}}</td>
        <td>{{match.blueSquare}}</td>
        <!-- <td>{{match.timestamp.toDate() | date:'medium'}}</td> -->
        <td *ngIf="auth.isAdmin(auth.user | async)">
          <button 
            (click)="scheduleService.deleteMatch(match.redSquare, match.blueSquare, match.id)"  
            type="button" 
            class="btn btn-outline-danger">
              Delete Match
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>