<h1>Check-In</h1>

<ul class="nav nav-pills">
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==1" (click)="changeViewMode(1)">Antweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==3" (click)="changeViewMode(3)">Beetleweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==30" (click)="changeViewMode(30)">30lb Sumo</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==150" (click)="changeViewMode(150)">150lb Sumo</a>
  </li>
</ul>

<div>
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Bot</th>
        <th>Attendance</th>
        <th>Arrival Time</th>
        <th>Control</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let robot of (robots | async); trackBy: trackById;">
        <td>{{ robot.name }} </td>

        <td *ngIf="robot.inAttendance; else notPresent">&#x2714;</td>
        <ng-template #notPresent>
          <td>&#x274C;</td>
        </ng-template>

        <td *ngIf="robot.arrivalTime !== undefined; else noTimestamp">{{ robot.arrivalTime.toDate() | timeAgo}}
        </td>
        <ng-template #noTimestamp>
          <td></td>
        </ng-template>

        <td *ngIf="robot.inAttendance; else markPresent">
          <button (click)="robotService.markPresent(robot.id, false)" type="button" class="btn btn-outline-danger">Mark Absent</button>
        </td>
        <ng-template #markPresent>
          <td>
            <button 
              (click)="robotService.markPresent(robot.id, true)" 
              type="button" 
              class="btn btn-outline-success">
                Mark Present
            </button>
          </td>
        </ng-template>
      </tr>
    </tbody>
	</table>
</div>
<br>