<h1>User Management</h1>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th></th> -->
        <th>Name</th>
        <th>Email</th>
        <th>Access</th>
        <th>Controls</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of (users | async); trackBy: trackById;">
        <!-- <td> Photo </td> -->
        <td> {{user.displayName}} </td>
        <td> {{user.email}} </td>
        <td>
          <select 
            id="permissionsSelect" 
            name="permissionsSelection"
            type="select"
            class="custom-select mr-sm-2"
            [(ngModel)]="user.role"
            (change)="usersService.changeRole(user.id, user.role)">
                <option *ngFor="let role of roles" value="{{role}}">{{role}}</option>
          </select>
        </td>
        <td>           
          <button 
            (click)="usersService.deleteUser(user.id)"  
            type="button" 
            class="btn btn-outline-danger">
              &#x2715;
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>