<h2>Bot Overview</h2>

<ul class="nav nav-pills">
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==250" (click)="changeViewMode(250)">Heavyweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==30" (click)="changeViewMode(30)">Sportsman</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==15" (click)="changeViewMode(15)">Dogeweight</a>
  </li>
</ul>

<div>
	<table class="table">
    <thead>
      <tr>
        <th>Bot</th>
        <th>Arrived</th>
        <th>Passed Safety</th>
        <th>State</th>
        <th>Number of Fights</th>
        <th>Last Fought</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let robot of (robots | async)">
        <td>
          <a 
            [title]="robot.name + ' details'"
            (click)="openRobotDetails(content, robot.id)">
              {{ robot.name }} 
          </a>
        </td>
        <td *ngIf="robot.inAttendance; else notPresent">&#x2714;</td>
        <ng-template #notPresent>
          <td>&#x274C;</td>
        </ng-template>
        <td *ngIf="robot.passedSafety; else notSafetied">&#x2714;</td>
        <ng-template #notSafetied>
          <td>&#x274C;</td>
        </ng-template>
        <td 
          [class.ready]="robot.state=='Ready'"
          [class.repairing]="robot.state=='Repairing'"
          [class.scheduled]="robot.state=='Scheduled'">
            {{ robot.state }} 
        </td>
        <td>{{ robot.fightCount }} </td>
        <td *ngIf="robot.lastFought!== undefined; else noTimestamp">{{ robot.lastFought.toDate() | timeAgo}} </td>
        <ng-template #noTimestamp><td></td></ng-template>
      </tr>
    </tbody>
	</table>
</div>
<br>

<!-- <app-robot-modal></app-robot-modal> -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 *ngIf="bot !== undefined" class="modal-title" id="modal-basic-title">{{bot.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="bot !== undefined">
    <p><b>Weight Class: </b> {{ bot.weightClass }} </p>

    <p *ngIf="bot.inAttendance; else notInAttendance">
      <b>Attendance:</b> &#x2714;
    </p>
    <ng-template #notInAttendance>
      <p><b>Attendance:</b> &#x274C;</p>
    </ng-template>

    <p *ngIf="bot.passedSafety; else noSafety">
      <b>Safety:</b> &#x2714;
    </p>
    <ng-template #noSafety>
      <p><b>Safety:</b> &#x274C;</p>
    </ng-template>

    <p *ngIf="bot.state">
      <b>State:</b> <span 
      [class.ready]="bot.state=='Ready'"
      [class.repairing]="bot.state=='Repairing'"
      [class.scheduled]="bot.state=='Scheduled'">
      {{ bot.state }}
      </span>
    </p>

    <!-- <ng-template #noImage>
      <p>No image to display.</p>
    </ng-template> -->

    <!-- <p><b>Fight History:</b></p>
    <div *ngIf="bot.fights; else noFightsYet">
      <table>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr> *ngFor=""
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <ng-template #noFightsYet>
      <p>This robot has not had any fights yet.</p>
      <p><i>This section still under construction.</i></p>
    </ng-template> -->

    <!-- <div *ngIf="">
      <p></p>
      <table>
        <tr>
          <th></th>
        </tr>
        <tr *ngFor="">
        </tr>
      </table>
    </div> -->

    <p><b> Controls: </b></p>
    <button (click)="initializeRobot(bot.id)" class="btn btn-primary">Initialize Bot</button>
    <form [formGroup]="changeStateForm" (ngSubmit)="changeState()">
      <div>
        <p><b> Change State: </b></p>
        <select
            required
            [(ngModel)]="selectedState"
            name="stateSelection"
            formControlName="stateSelection"
            id=""
            type="select"
            class="form-control"
            class="custom-select mr-sm-2">
            <option *ngFor="let state of states " value="{{state}}">{{state}}</option>
          </select>
      </div>
    </form>

  </div>
  <div class="modal-footer">
  </div>
</ng-template>