<h2>Robot List</h2>

<div *ngFor="let robot of (robots | async)">

  <h3>
    <a [title]="robot.name + ' details'" [routerLink]="['/robot', robot.id]">
      {{ robot.name }}
    </a>
  </h3>

  <p *ngIf="robot.state">
    <b>State:</b> {{ robot.state }}
  </p>

  <!-- <div *ngIf="robot.imgID">
    <img src={{ robot.imgURL | async }}>
  </div> -->

</div>


<!-- <div *ngFor="let robot of (robots | async)" class="media">
  <img src= "www.buildersdb.com/botpics/thumbs/{{ robot.imgID }}.jpg" class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">{{ robot.name }}</h5>
    <p *ngIf="robot.state">
      <b>State:</b> {{ robot.state }}
    </p>
  </div>
</div> -->