<h2>Robot List</h2>

<ul class="nav nav-pills">
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==250" (click)="changeViewMode(250)">Heavyweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==30" (click)="changeViewMode(30)">Sportsman</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==15" (click)="changeViewMode(15)">Dogeweight</a>
  </li>
</ul>

<div *ngFor="let robot of (robots | async)">
	<!-- <h3>
    <a [title]="robot.name + ' details'" [routerLink]="['/robot', robot.id]">
      {{ robot.name }}
    </a>
  </h3>

  <p *ngIf="robot.state">
    <b>State:</b> {{ robot.state }}
  </p> -->

	<!-- <button (click)="initializeBot(robot.id)">Initialize Bot</button> -->

	<!-- <div *ngIf="robot.imgID">
    <img src={{ robot.imgURL | async }}>
  </div> -->

	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">{{ robot.name }}</h5>
			<h6 class="card-subtitle mb-2 text-muted">State: {{robot.state}}</h6>
			<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
			<a [routerLink]="['/robot', robot.id]" class="card-link">Details</a>
			<!-- <a href="#" class="card-link">Another link</a> -->
		</div>
	</div>

</div>

<!-- <button (click)="initializeBots()">Initialize All Bots</button> -->