<h2>Robot Details</h2>

<div>
  <h3>{{robot.name}}</h3>
  <p><b>Weight Class: </b> {{ robot.weightClass }} </p>

  <p *ngIf="robot.inAttendance; else notInAttendance">
    <b>Attendance:</b> Present
  </p>
  <ng-template #notInAttendance>
    <p><b>Attendance:</b> Awaiting</p>
  </ng-template>

  <p *ngIf="robot.passedSafety; then yesSafety else noSafety">
    <b>Safety:</b> Passed
  </p>
  <ng-template #noSafety>
    <p><b>Safety:</b> Awaiting</p>
  </ng-template>
  
  <p *ngIf="robot.state">
    <b>State:</b> {{ robot.state }}
  </p>

  <div *ngIf="robot.name == 'Button Lee'">
    <img src= "https://i.ibb.co/tsP2qwr/13526.jpg">
  </div>
  <ng-template #noImage>
    <p>No image to display.</p>
  </ng-template>

  <p><b>Fight History:</b></p>
  <div *ngIf="robot.fights; else noFightsYet">
    <!-- <table>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr> *ngFor=""
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table> -->
  </div>
  <ng-template #noFightsYet>
    <p>This robot has not had any fights yet.</p>
  </ng-template>

  <!-- <div *ngIf="">
    <p></p>
    <table>
      <tr>
        <th></th>
      </tr>
      <tr *ngFor="">
      </tr>
    </table>
  </div> -->
  <br>
  <h3> Temp Controls: </h3>
  <button (click)="initializeRobot(robotID)">Initialize Bot</button>
</div>