<h2>Robot List</h2>

<ul class="nav nav-pills">
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==250" (click)="changeViewMode(250)">Heavyweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==30" (click)="changeViewMode(30)">Sportsman</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==15" (click)="changeViewMode(15)">Dogeweight</a>
  </li>
</ul>

<div>
	<table>
		<tr>
      <th>Bot</th>
      <th>Arrived</th>
      <th>Passed Safety</th>
      <th>State</th>
      <th>Number of Fights</th>
      <th>Last Fought</th>
    </tr>
		<tr *ngFor="let robot of (robots | async)">
      <td>
        <a [title]="robot.name + ' details'" [routerLink]="['/robot', robot.id]">
          {{ robot.name }}
        </a>
      </td>
      <td *ngIf="robot.inAttendance; else notPresent">&#x2714;</td>
      <ng-template #notPresent>
        <td>&#x274C;</td>
      </ng-template>
      <td *ngIf="robot.passedSafety; else notSafetied">&#x2714;</td>
      <ng-template #notSafetied>
        <td>&#x274C;</td>
      </ng-template>
      <td 
        [class.ready]="robot.state=='Ready'"
        [class.repairing]="robot.state=='Repairing'"
        [class.scheduled]="robot.state=='Scheduled'">
          {{ robot.state }} 
      </td>
      <td>{{ robot.fightCount }} </td>
      <td *ngIf="robot.lastFought!== undefined">{{ robot.lastFought.toDate() | timeAgo}} </td>
    </tr>
	</table>
</div>
<br>

<!-- <div class="row">
  <ng-container *ngFor="let robot of (robots | async); let i = index" >
    <div class="col">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">{{ robot.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">State: {{robot.state}}</h6>
          <a [routerLink]="['/robot', robot.id]" class="card-link">Details</a>
        </div>
      </div>
    </div>
  </ng-container>
  <div *ngIf="(i+1) % 2 === 0" class="w-100"></div>
</div> -->
	
<!-- <button (click)="initializeBots()">Initialize All Bots</button> -->