<h1>Schedule</h1>

<ul class="nav nav-pills">
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==250" (click)="changeViewMode(250)">Heavyweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==30" (click)="changeViewMode(30)">Sportsman</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==15" (click)="changeViewMode(15)">Dogeweight</a>
  </li>
</ul>

<div *ngIf="auth.isAdmin(auth.user | async)">
  <h4> Admin Controls</h4>
  <button class="btn btn-info" (click)="openScheduleFightModal(scheduleFightModal)">Schedule Fight</button>
  <button class="btn btn-info" (click)="openScheduleBreakModal(scheduleBreakModal)">Schedule Break</button>
  <br>
  <br>
</div>

<!-- <h2>Upcoming Matches</h2> -->

<table *ngIf="currentMatch; else noCurrentFight" class="table table-striped">
  <thead>
    <tr>
      <th>Red Square</th>
      <th>Blue Square</th>
      <!-- <th>Timestamp</th> -->
      <th *ngIf="auth.isAdmin(auth.user | async)">Controls</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{currentMatch.redSquare}}</td>
      <td>{{currentMatch.blueSquare}}</td>
      <td *ngIf="auth.isAdmin(auth.user | async)">
        <button 
          [disabled]="isFirst"
          (click)="openResultsModal(resultsModal)"
          type="button" 
          id="moveUp"
          class="btn"
          [class.btn-outline-info]="! isFirst"
          [class.btn-outline-secondary]="isFirst">
         Record Result
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noCurrentFight><p>
  Noone is currently fighting
</p></ng-template>

<div>
  <table class="table table-striped"> 
    <thead>
      <tr>
        <th>No.</th>
        <th>Red Square</th>
        <th>Blue Square</th>
        <!-- <th>Timestamp</th> -->
        <th *ngIf="auth.isAdmin(auth.user | async)">Controls</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let match of schedule | async as matches; let i = index; first as isFirst; last as isLast;">
        <tr *ngIf="match.breakDuration !== undefined; else isFight">
          <td class="info">{{i+1}}</td>
          <td  class="info"colspan="2" align="center">
            {{match.breakDuration}} Minute Break
          </td>
          <td class="info" *ngIf="auth.isAdmin(auth.user | async)">
            <button 
              [disabled]="isFirst"
              (click)="scheduleService.moveMatch(match.id, match.timestamp, matches[i-1].id, matches[i-1].timestamp)"
              type="button" 
              id="moveUp"
              class="btn"
              [class.btn-outline-info]="! isFirst"
              [class.btn-outline-secondary]="isFirst">
              &#9650;
            </button>
            <button 
              [disabled]="isLast"
              (click)="scheduleService.moveMatch(match.id, match.timestamp, matches[i+1].id, matches[i+1].timestamp)"
              type="button" 
              id="moveDown"
              class="btn"
              [class.btn-outline-info]="! isLast"
              [class.btn-outline-secondary]="isLast">
              &#9660;
            </button>
            <button 
              (click)="scheduleService.deleteBreak(match.id)"
              type="button" 
              class="btn btn-outline-danger">
                &#x2715;
            </button>
            <!-- <button
              (click)="scheduleService.promoteToCurrent(match.id)" 
              type="button" 
              class="btn btn-outline-success">
              &#9655;
            </button> -->
          </td>
        </tr>
        <ng-template #isFight>
        <!-- <ng-container *ngIf="match.redSquare !== undefined"> -->
        <tr>
          <td>{{i+1}}</td>
          <td>{{match.redSquare}}</td>
          <td>{{match.blueSquare}}</td>
          <!-- <td>{{match.timestamp.toDate() | date:'medium'}}</td> -->
          <td *ngIf="auth.isAdmin(auth.user | async)">
            <button 
              [disabled]="isFirst"
              (click)="scheduleService.moveMatch(match.id, match.timestamp, matches[i-1].id, matches[i-1].timestamp)"
              type="button" 
              id="moveUp"
              class="btn"
              [class.btn-outline-info]="! isFirst"
              [class.btn-outline-secondary]="isFirst">
              &#9650;
            </button>
            <button 
              [disabled]="isLast"
              (click)="scheduleService.moveMatch(match.id, match.timestamp, matches[i+1].id, matches[i+1].timestamp)"
              type="button" 
              id="moveDown"
              class="btn"
              [class.btn-outline-info]="! isLast"
              [class.btn-outline-secondary]="isLast">
              &#9660;
            </button>
            <button 
              (click)="scheduleService.deleteMatch(match.redSquare, match.blueSquare, match.id)"  
              type="button" 
              class="btn btn-outline-danger">
              &#x2715;
            </button>
            <!-- <button
              (click)="scheduleService.promoteToCurrent(viewMode, match.redSquare, match.blueSquare, match.id)" 
              type="button" 
              class="btn btn-outline-success">
              &#9655;
            </button> -->
          </td>
        </tr>
        <!-- </ng-container> -->
        </ng-template>
      </ng-container>
    </tbody>
  </table>
</div>


<ng-template #scheduleFightModal let-modal class="schedule-modal">
    <div class="modal-header">
      <h4 class="modal-title">Schedule Fight</h4>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="scheduleForm">
        <div class="form-group">
          <label>Red Square:</label>
          <select 
            class="form-control" 
            style="margin-bottom: 15px;"
            required
            [(ngModel)]="redBot"
            name="red"
            formControlName="red">
              <option *ngFor="let robot of (robots | async)" value="{{robot.name}}">{{robot.name}}</option>
          </select>
          <label>Blue Square:</label>
          <select 
            class="form-control" 
            style="margin-bottom: 15px;"
            required
            [(ngModel)]="blueBot" 
            name="blue"
            formControlName="blue">
              <option *ngFor="let robot of (robots | async)" value="{{robot.name}}">{{robot.name}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-light" type="button" (click)="modal.dismiss()">Close</button>
      <button class="btn btn-primary" type="button" (click)="scheduleFight(); modal.dismiss()">Add to Schedule</button>
    </div>
</ng-template>

<ng-template #scheduleBreakModal let-modal class="schedule-modal">
  <div class="modal-header">
    <h4 class="modal-title">Schedule Break</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="breakForm" (ngSubmit)="scheduleBreak()">
          <div class="form-group">
              <label>Duration:</label>
              <select 
                  class="form-control" 
                  required
                  [(ngModel)]="breakDuration"
                  name="breakTime"
                  formControlName="breakTime">
                      <option value="5">5 minutes</option>
                      <option value="10">10 minutes</option>
                      <option value="30" selected>30 minutes</option>
                      <option value="60">1 hour</option>
              </select>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-light" type="button" (click)="modal.dismiss()">Close</button>
      <button class="btn btn-primary" type="button" (click)="scheduleBreak(); modal.dismiss()">Add to Schedule</button>
  </div>
</ng-template>


<ng-template #resultsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Record Result</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="resultsForm.errors" class="alert alert-danger">
      <p>You must select two unique bots.</p>
    </div>
    <form [formGroup]="resultsForm">
      <div class="form-group">
        <label>Winner:</label>
        <select 
            class="form-control" 
            style="margin-bottom: 15px;"
            required
            [(ngModel)]="winnerBot"
            name="winner"
            formControlName="winner">
              <option value="{{currentMatch.redSquare}}">{{currentMatch.redSquare}}</option>
              <option value="{{currentMatch.blueSquare}}">{{currentMatch.blueSquare}}</option>
        </select>
        <label>Loser:</label>
        <select 
            class="form-control" 
            style="margin-bottom: 15px;"
            required
            [(ngModel)]="loserBot" 
            name="loser"
            formControlName="loser">
          <option value="{{currentMatch.redSquare}}">{{currentMatch.redSquare}}</option>
          <option value="{{currentMatch.blueSquare}}">{{currentMatch.blueSquare}}</option>
        </select>
        <p>Win Condition:</p>
        <div class="form-check">
          <input 
              class="form-check-input" 
              type="radio" 
              id="ko"  
              [(ngModel)]="ko" 
              formControlName="ko"
              name="ko"
              value="ko" >
          <label class="form-check-label" for="formCheck-1">KO</label>
        </div>
        <div class="form-check">
          <input 
              class="form-check-input" 
              type="radio" 
              id="jd"
              [(ngModel)]="ko" 
              formControlName="jd"
              name="jd"
              value="jd">
          <label class="form-check-label" for="formCheck-2">JD</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light" type="button" (click)="modal.dismiss()">Close</button>
    <button class="btn btn-primary" type="button" (click)="addFight(); modal.dismiss()">Add Result</button>
  </div>
</ng-template>