<h1>Schedule</h1>

<ul class="nav nav-pills">
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==1" (click)="changeViewMode(1)">Antweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==3" (click)="changeViewMode(3)">Beetleweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==30" (click)="changeViewMode(30)">30lb Sumo</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==150" (click)="changeViewMode(150)">150lb Sumo</a>
  </li>
</ul>

<div *ngIf="auth.isAdmin(auth.user | async)">
  <h4> Admin Controls</h4>
  <button class="btn btn-info" (click)="openScheduleFightModal(scheduleFightModal)">Schedule Fight</button>
  <button class="btn btn-info" (click)="openScheduleBreakModal(scheduleBreakModal)">Schedule Break</button>
  <br>
  <br>
</div>

<ng-container *ngIf="currentMatch; else noCurrentMatch" >
  <!-- <h5>Currently fighting are <span style="color:red;">{{currentMatch.redSquare}}</span> vs <span style="color:blue;">{{currentMatch.blueSquare}}</span></h5> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Red Square</th>
        <th>Blue Square</th>
        <!-- <th>Timestamp</th> -->
        <th *ngIf="auth.isAdmin(auth.user | async)">Controls</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{currentMatch.redSquare}}</td>
        <td>{{currentMatch.blueSquare}}</td>
        <td *ngIf="auth.isAdmin(auth.user | async)">
          <button 
            (click)="openResultsModal(resultsModal)"
            type="button" 
            id="recordResultBtn"
            class="btn btn-outline-info">
              Record Result
          </button >
          <button
            (click)="postponeMatch()"
            type="button" 
            id="recordResultBtn"
            class="btn btn-outline-info">
              Postpone Match
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #noCurrentMatch><p>
  <!-- Noone is currently fighting -->
</p></ng-template>


<div>
  <table class="table table-striped"> 
    <thead>
      <tr>
        <th>No.</th>
        <th>Red Square</th>
        <th>Blue Square</th>
        <!-- <th>Timestamp</th> -->
        <th *ngIf="auth.isAdmin(auth.user | async)">Controls</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let match of schedule | async as matches; let i = index; first as isFirst; last as isLast; trackBy: trackById;">
        <tr *ngIf="match.breakDuration !== undefined; else isFight">
          <td class="info">{{i+1}}</td>
          <td  class="info"colspan="2" align="center">
            {{match.breakDuration}} Minute Break
          </td>
          <td class="info" *ngIf="auth.isAdmin(auth.user | async)">
            <button 
              [disabled]="isFirst"
              (click)="scheduleService.moveMatch(match.id, match.timestamp, matches[i-1].id, matches[i-1].timestamp)"
              type="button" 
              id="moveUp"
              class="btn"
              [class.btn-outline-info]="! isFirst"
              [class.btn-outline-secondary]="isFirst">
                &#9650;
            </button>
            <button 
              [disabled]="isLast"
              (click)="scheduleService.moveMatch(match.id, match.timestamp, matches[i+1].id, matches[i+1].timestamp)"
              type="button" 
              id="moveDown"
              class="btn"
              [class.btn-outline-info]="! isLast"
              [class.btn-outline-secondary]="isLast">
                &#9660;
            </button>
            <button 
              (click)="scheduleService.deleteBreak(match.id)"
              type="button" 
              class="btn btn-outline-danger">
                &#x2715;
            </button>
            <!-- <button
              (click)="scheduleService.promoteToCurrentMatch(match.id)" 
              type="button" 
              class="btn btn-outline-success">
                &#9655;
            </button> -->
          </td>
        </tr>
        <ng-template #isFight>
        <tr>
          <td>{{i+1}}</td>
          <td>{{match.redSquare}}</td>
          <td>{{match.blueSquare}}</td>
          <!-- <td>{{match.timestamp.toDate() | date:'medium'}}</td> -->
          <td *ngIf="auth.isAdmin(auth.user | async)">
            <button 
              [disabled]="isFirst"
              (click)="scheduleService.moveMatch(match.id, match.timestamp, matches[i-1].id, matches[i-1].timestamp)"
              type="button" 
              id="moveUp"
              class="btn"
              [class.btn-outline-info]="! isFirst"
              [class.btn-outline-secondary]="isFirst">
                &#9650;
            </button>
            <button 
              [disabled]="isLast"
              (click)="scheduleService.moveMatch(match.id, match.timestamp, matches[i+1].id, matches[i+1].timestamp)"
              type="button" 
              id="moveDown"
              class="btn"
              [class.btn-outline-info]="! isLast"
              [class.btn-outline-secondary]="isLast">
                &#9660;
            </button>
            <button 
              (click)="scheduleService.deleteMatch(match.redSquare, match.blueSquare, match.id)"  
              type="button" 
              class="btn btn-outline-danger">
                &#x2715;
            </button>
            <button
              (click)="promoteToCurrentMatch(match.redSquare, match.blueSquare, match.id)"
              type="button" 
              class="btn btn-outline-success">
                &#9655;
            </button>
          </td>
        </tr>
        </ng-template>
      </ng-container>
      <tr *ngIf='(schedule | async)?.length === 0'><td colspan="5">
        No matches currently scheduled
      </td></tr>
    </tbody>
  </table>
</div>

<!-- // MODALS FOR SCHEDULING AND RESULTS ENTRY -->

<ng-template #scheduleFightModal let-modal class="schedule-modal">
    <div class="modal-header">
      <h4 class="modal-title">Schedule Fight</h4>
      <button type="button" class="close" (click)="clearScheduleFightForm(); modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <div *ngIf="scheduleForm.errors" class="alert alert-danger">
      <p *ngIf="scheduleForm.get('red').required">You must specify a robot for the red square.</p>
      <p *ngIf="scheduleForm.get('blue').required">You must specify a robot for the blue square</p>
      <p *ngIf="scheduleForm.get('red').touched && scheduleForm.get('blue').touched && scheduleForm.errors.botValues">Winner and loser robots must be unique.</p>
    </div>
      <form [formGroup]="scheduleForm">
        <div class="form-group">
          <label>Red Square:</label>
          <select
            class="form-control" 
            [(ngModel)]="redBot"
            name="red"
            formControlName="red">
              <option *ngFor="let robot of (robots | async)" value="{{robot.name}}">{{robot.name}}</option>
          </select>
          <label>Blue Square:</label>
          <select
            class="form-control" 
            [(ngModel)]="blueBot" 
            name="blue"
            formControlName="blue">
              <option *ngFor="let robot of (robots | async)" value="{{robot.name}}">{{robot.name}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-light" type="button" (click)="clearScheduleFightForm(); modal.dismiss()">Close</button>
      <button class="btn btn-primary" type="button" (click)="scheduleFight(false)">Add to Schedule</button>
    </div>
</ng-template>

<ng-template #scheduleBreakModal let-modal class="schedule-modal">
  <div class="modal-header">
    <h4 class="modal-title">Schedule Break</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="breakForm" (ngSubmit)="scheduleBreak()">
          <div class="form-group">
              <label>Duration:</label>
              <select 
                  class="form-control"
                  [(ngModel)]="breakDuration"
                  name="breakTime"
                  formControlName="breakTime">
                      <option *ngFor="let duration of durations" [value]="duration">{{duration}} minutes</option>
              </select>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-light" type="button" (click)="modal.dismiss()">Close</button>
      <button class="btn btn-primary" type="button" (click)="scheduleBreak()">Add to Schedule</button>
  </div>
</ng-template>


<ng-template #resultsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Record Result</h4>
    <button type="button" class="close" (click)="clearRecordResultForm(); modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="resultsForm.errors" class="alert alert-danger">
      <p *ngIf="resultsForm.get('winner').invalid || resultsForm.get('loser').invalid">You must specify the winner & loser robots.</p>
      <p *ngIf="resultsForm.get('ko').invalid">You must select a win condition (KO or JD).</p>
    </div>
    <form [formGroup]="resultsForm">
      <div class="form-group">
        <label>Winner:</label>
        <select 
            class="form-control"
            [(ngModel)]="winnerBot"
            name="winner"
            formControlName="winner"
            (change)="updateSelection('winner')">
              <option value="{{currentMatch.redSquare}}">{{currentMatch.redSquare}}</option>
              <option value="{{currentMatch.blueSquare}}">{{currentMatch.blueSquare}}</option>
        </select>
        <label>Loser:</label>
        <select 
            class="form-control"
            [(ngModel)]="loserBot" 
            name="loser"
            formControlName="loser"
            (change)="updateSelection('loser')">
          <option value="{{currentMatch.redSquare}}">{{currentMatch.redSquare}}</option>
          <option value="{{currentMatch.blueSquare}}">{{currentMatch.blueSquare}}</option>
        </select>
        <p>Win Condition:</p>
        <div class="form-check">
          <input
              class="form-check-input" 
              type="radio" 
              id="ko"  
              [(ngModel)]="ko" 
              formControlName="ko"
              name="ko"
              value="ko">
          <label class="form-check-label" for="formCheck-1">KO</label>
        </div>
        <div class="form-check">
          <input
              class="form-check-input" 
              type="radio" 
              id="jd"
              [(ngModel)]="ko" 
              formControlName="jd"
              name="jd"
              value="jd">
          <label class="form-check-label" for="formCheck-2">JD</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light" type="button" (click)="clearRecordResultForm(); modal.dismiss()">Close</button>
    <button class="btn btn-primary" type="button" (click)="recordResult()">Add Result</button>
  </div>
</ng-template>