<h1>Standings</h1>

<ul class="nav nav-pills">
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==150" (click)="changeViewMode(150)">Fairyweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==1" (click)="changeViewMode(1)">Antweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==3" (click)="changeViewMode(3)">Beetleweight</a>
  </li>
</ul>

<div>
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Bot</th>
        <th>Fights</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>KOs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let robot of (robots | async); trackBy: trackById;">
        <td>{{ robot.name }} </td>
        <td>{{ robot.fightCount }} </td>
        <td>{{ robot.winCount }} </td>
        <td>{{ robot.lossCount }} </td>
        <td>{{ robot.koCount }} </td>
      </tr>
    </tbody>
	</table>
</div>