<!-- <h1>Results</h1>

<ul class="nav nav-pills">
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==250" (click)="changeViewMode(250)">Heavyweight</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==30" (click)="changeViewMode(30)">Sportsman</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" [class.active]="viewMode==15" (click)="changeViewMode(15)">Dogeweight</a>
  </li>
</ul> -->

<br>
<h2>Fight Results</h2>
<br>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Winner</th>
        <th>Loser</th>
        <th>Win Condition</th>
        <th>Date/Time</th>
        <th *ngIf="auth.isAdmin(auth.user | async)">Controls</th>
      </tr>
    </thead>
      <tr *ngFor="let fight of fights">
        <td>{{fight.winner}}</td>
        <td>{{fight.loser}}</td>
        <td *ngIf="fight.ko; else jd">KO</td>
        <ng-template #jd>
          <td>JD</td>
        </ng-template>
        <td>{{fight.timestamp.toDate() | date:'medium'}}</td>
        <td *ngIf="auth.isAdmin(auth.user | async)">
          <button 
            (click)="fightService.deleteFight(fight)"  
            type="button" 
            class="btn btn-outline-danger">
              Delete Fight
          </button>
        </td>
      </tr>
  </table>
</div>
