<app-record-result></app-record-result>

<h2>Fight Results</h2>

<div>
  <table> 
    <tr>
      <th>Winner</th>
      <th>Loser</th>
      <th>Win Condition</th>
      <!-- <th>Date/Time</th> -->
    </tr>
    <tr *ngFor="let fight of fights">
      <td>{{fight.winner}}</td>
      <td>{{fight.loser}}</td>
      <td *ngIf="fight.ko; else jd">KO</td>
      <ng-template #jd>
        <td>JD</td>
      </ng-template>
      <!-- <button onClick()="deleteFight()">Delete Fight</button> -->
      <!-- <td>{{fight.timestamp }}</td> -->
    </tr>
  </table>
</div>
