@import "~bootstrap/dist/css/bootstrap.css";

.nav-pills {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  padding: 5px;
  margin: 5px;
}

form {
  padding: 15px;
}

.form-check-inline {
  padding-right: 10px;
  padding-bottom: 25px;
}

.form-group{
  padding-right: 20px;
  padding-bottom: 10px;
}

.info{
  background-color: #daeef8;
}