@import "~bootstrap/dist/css/bootstrap.css";

.nav-pills {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  padding: 5px;
  margin: 5px;
}

th, td {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}