form {
  padding: 15px;
}

.form-check-inline {
  padding-right: 10px;
  padding-bottom: 25px;
}

.form-group{
  padding-right: 20px;
  padding-bottom: 10px;
}

.vs {
  padding-right: 20px;
}