<div *ngIf="auth.user | async as user">
  <div *ngIf="user.admin">
    <h2>Schedule a Fight</h2>
    <div *ngIf="scheduleForm.errors" class="alert alert-danger">
      <p>You must select two unique bots.</p>
    </div>
    <form [formGroup]="scheduleForm" (ngSubmit)="scheduleFight()">
      <div class="form-group">
        <label for="red">Red Square:</label>
        <select
          required
          [(ngModel)]="redBot"
          name="red"
          formControlName="red"
          id=""
          type="select"
          class="form-control">
          <option *ngFor="let robot of (robots | async)" value="{{robot.name}}">{{robot.name}}</option>
        </select>
      </div>
      vs.
      <div class="form-group">
        <label for="blue">Blue Square:</label>
        <select
          required
          [(ngModel)]="blueBot" 
          name="blue"
          formControlName="blue"
          id=""
          type="select"
          class="form-control">
          <option *ngFor="let robot of (robots | async)" value="{{robot.name}}">{{robot.name}}</option>
        </select>
      </div>
      <button>Schedule</button>
    </form>
  </div>
</div>