<a [routerLink]="['/']">
  <h1>Event Manager</h1>
</a>

<a [routerLink]="['/schedule']" class="button fancy-button">Schedule</a>
<a [routerLink]="['/standings']" class="button fancy-button">Standings</a>
<!-- <a [routerLink]="['/import']" class="button fancy-button">Import</a> -->
<a [routerLink]="['/results']" class="button fancy-button">Results</a>

<div *ngIf="auth.user | async; else login">
  <button class="button" (click)="auth.signOut()">Sign Out</button>
</div>
<ng-template #login>
  <button class="button" (click)="auth.googleLogin()">Login with Google</button>
</ng-template>