<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Event Manager</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" [routerLink]="['/']">Robots</a>
    <a class="p-2 text-dark" [routerLink]="['/schedule']" >Schedule</a>
    <a class="p-2 text-dark" [routerLink]="['/standings']">Standings</a>
    <a class="p-2 text-dark" [routerLink]="['/results']">Results</a>
  </nav>
  <div *ngIf="auth.user | async; else login">
    <a class="btn btn-outline-primary" (click)="auth.signOut()">Sign Out</a>
  </div>
  <ng-template #login>
    <button class="btn btn-outline-primary" (click)="auth.googleLogin()">Login with Google</button>
  </ng-template>
</div>